node_modules/
dist/
.env
.env.*
!.env.example
*.png
!mobile/assets/*.png
!mobile/public/*.png
!nginx/normx-landing/img/*.png
.DS_Store
*.pdf
Conventions_collectives/
.~lock.CGI242_Tests_Fonctionnels.xlsx#
*.jpg
*.xlsx
Projet-Final-2-master/
site/
